.sidebar-container {
	overflow: auto;
	height: 92vh;
}
.newScheduleForm {
	padding: 20px;
	border: 1px #ccc solid;
	border-radius: 8px;
}
.newScheduleForm h3 {
	margin-top: 0;
	text-align: center;
}
.savedSchedule {
	padding: 20px;
	border: 1px #ccc solid;
	margin-top: 50px !important;
	border-radius: 8px;
}
.savedScheduleButton {
	margin: 10px !important;
}
.main-container {
	position: absolute;
}

.btn {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.d-flex {
	display: flex;
}
.col {
	flex-direction: column;
}
